/* ================================= 
  Media Queries
==================================== */



@media (min-width: 320px) {
	.main-header,
    .main-nav,
    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body {
        justify-content: flex-start;
    }

	li {
        align-items: center;
	}

    .col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .container {
        align-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: auto;
        width: auto;
        justify-content: flex-start;
    }

    .contactus, .container, .main-footer {
        display: flex;
        flex-direction: column;
        flex: wrap;
        justify-content: space-around;
        align-items: center;
    }
}

@media (min-width: 768px) {

	.main-header,
    .main-nav,
    .name {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .container {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-top: 60px;
        flex-wrap: wrap;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: auto;
        width: auto;
        justify-content: space-between;
        flex-grow: 1;
    }

        .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0px;
    }

	li {
        align-items: center;
	}

}

@media (min-width: 1025px) {

	.main-header, .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
	}

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0px;
    }

}